body {
     font-family: "Roboto", sans-serif;
}


h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

p,
a {
    font-size: 18px;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

img {
    width: 100%;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}


/* Button */
.btn {
    background-color: #3882f6;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
}

/* Header Navigation */

header {
    background-color: #1f2837;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

nav a {
    color: #e5e7eb;
}

.nav__links ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.nav__logo a {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

/* Section 1 - Banner */
.section__1 {
    background-color: #1f2837;
    padding: 100px 0;
}

.section__1 p {
    color:#e5e7eb;
}

.section__1--banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.section__1--banner-copy {
    flex: 33%;
}

.section__1--banner-img {
    flex: 33%;
}

/* SECTION 2 */

.section__2 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

.section__2 h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.section__2--list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
}

.section__2--img-container {
    display: block;
    border: 5px solid #3882f6;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.section__2--list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.section__2--list-item p {
    padding: 0 60px;
    font-weight: 300;
}

/*SECTION 3*/

.section__3 {
    background-color: #e5e7eb;
}

.section__3 blockquote {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    padding: 100px 0px;
}

.section__3 blockquote p {
    font-size: 36px;
}

.section__3 cite {
    text-align: right;
    display: block;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
}